/AccelerometerGyroTest/build/
/Shooter_B_SpeedTest/nbproject/private/
/TemperatureSensorTest/build/
/TwoJaguarTest/build/
/DrivetrainEncoderTest/nbproject/private/
/DrivetrainEncoderTest/build/
/TemperatureSensorTest/nbproject/private/
/CowTest/nbproject/private/
/Shooter_A_EncoderTest/nbproject/private/
/AccelerometerGyroTest/nbproject/private/
/StomachSensorTest/build/
/Shooter_A_EncoderTest/build/
/CowTest/build/